body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  max-width: 670px;
  padding: 20px;
  margin:0 auto;
  font-size:10pt;
  color: #333;
}

/********************************************************
* Common Typography
*********************************************************/

h1 {
  font-size:14pt;
  margin:32px 0 12px;
}
h2 {
  font-size:11pt;
  margin:24px 0 8px;
}
img {
  max-width:100%;
}
figcaption {
  display:none;
}
.floatleft {
  float:left;
}
.floatright {
  float:right;
}

/* Nicer code - styles stolen from GitHub */
code {
  white-space:pre;
  padding:3px 0;
  margin:0;
  background-color:rgba(0,0,0,0.04);
  border-radius:3px;
  font: 13px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
code:before, code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

/* Make definition lists look like nice tables */
dl {
  background-color: #D9D9D9;
}
.clearfix:after, .clearfix:before, dl:after, dl:before {
  content:" ";
  display:table;
}
.clearfix:after, dl:after {
  clear:both;
}
dl dt, dl dd {
  padding: 8px;
  border:1px solid #D9D9D9;
  border-bottom:0;
}
dl dt:last-child, dl dd:last-child {
  border-bottom:1px solid #D9D9D9;
}
dl dt {
  display: block;
  width: 150px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float:left;
  clear:left;
  font-weight:bold;
}
dl dd {
  display: block;
  margin-left:168px;
  background-color:#FFFFFF;
}
dl p {
  margin:0 0 8px;
}

/********************************************************
* Specific Elements, in order of appearance..
*********************************************************/
/* Page Header */
.page_header {
  color:#999999;
  font-size:12px;
  text-align:center;
  margin:15px 0;
  padding-bottom:15px;
  border-bottom:1px solid #999;
}

/* Page Title Section */
header {
  border-bottom:1px solid #999;
  margin-bottom:15px;
  padding-bottom:15px;
}
h1.title, h1.subtitle {
  font-weight: normal;
  text-align: center; 
  margin:0;
}
h1.title {
  font-size:24pt;
}
h1.subtitle {
  font-size:18pt;
  margin-top:10px;
}
h3.date {
  display:none;
}

/* Page Footer */
footer {
  border-top: 1px solid #999;
  margin:30px 0;
  padding-top:15px;
  color:#999999;
  font-size:12px;
  text-align:right;
}
footer a {
  color:#999999;
  text-decoration:none;
}
